---
layout: base.njk
section: home
---
<div class="home-page">
	<div class="home-page__bg-square"></div>

  {# Hero #}
  <div class="hero">
    <div class="hero__col">
      <h1 class="hero__title gradient-text">{{ home.title }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
      <button onclick="window.location.href='/#contact';">Connect With Me!</button>
    </div>
    <div class="hero__col">
      {% image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
  </div>

  {# About #}
  <div class="list-header">
    <h2 class="list-header__title" id="projects">About Me!</h2>
  </div>
  <p>Investor. Philanthropist. Concert Lover. Art Collector. Avid animal lover/owner of small Zoo that includes a cat, dog, toddler, turtle, tortoises, and various plants</p>
  <p>I am an empathetic leader and a strong communicator personable enough to work alongside my colleagues to work out plans to reach our desired outcomes.</p>
  <p>Being a good parent is always going to be #1 on my priority list, without a doubt! I am a strong believer in continuous learning and giving without getting anything in return. I go out of my way to improve myself mentally and physically, but also make sure to support those I surround myself with and give back to the communities that helped support me. When I'm not spending time with my daughter or working on improving myself and my development skills, I'm absorbed into fun projects! I rehab rental properties, build robots, tinker with my car, convert a sprinter van into an RV, create and print 3D models, among several other things.</p>

  {# Projects #}
  <div class="list-header">
    <h2 class="list-header__title" id="projects">Projects!</h2>
    <a class="btn btn--outline btn--sm" href="/projects">View All</a>
  </div>
  {% from "macros/projectlist.njk" import projectlist %}
  {{ projectlist(projects = collections.project | reverse) }}

  {# Articles #}
  <div class="list-header">
    <h2 class="list-header__title" id="articles">Articles!</h2>
    <a class="btn btn--outline btn--sm" href="/blog">View All</a>
  </div>
  {% from "macros/articlelist.njk" import articlelist %}
  {{ articlelist(
    articles = collections.post | reverse,
    show_tags = false,
    limit = 3
  ) }}

  {# Contact #}
  <div class="list-header">
    <h2 class="list-header__title" id="contact">Connect With Me!</h2>
  </div>
  <div class="page-container">
    {{ layoutContent | safe }}

    {% include "partials/form.njk" %}
  </div>

{# End of the page #}
</div>
